name: Update ads.txt

on:
  schedule:
    # Runs at 00:00 UTC every day
    - cron: '0 0 * * *'
  workflow_dispatch: # Allows you to run it manually if needed

jobs:
  update-ads:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Download ads.txt
        # REPLACE [YOUR_DOMAIN].com BELOW WITH YOUR ACTUAL DOMAIN
        run: curl -L https://srv.adstxtmanager.com/19390/druskii128.github.io > ads.txt

      - name: Commit and Push changes
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add ads.txt
          # Only commit if there are changes
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update ads.txt from Ezoic" && git push)
